configuration {
	modi: "drun";
	icon-theme: "Papirus";
	application-fallback-icon: "Adwaita";
 	show-icons: true;
	drun-display-format: "{icon} {name}";
	sidebar-mode: false;
}

@theme "./themes/theme.rasi"
